.package {
    font-weight: 700;
}

.package::after {
    content: "+";
    margin: 0 3px;
}

.price {
    font-size: 50px;
    font-weight: 700;
    margin-right: 30px;
}

.price--old {
    font-size: 40px;
    text-decoration: line-through #970808 3px;
}