.offered {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    font-size: 16px;
    margin-bottom: 15px;
    gap: 0 7px
}

.services__button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: none;
    margin: 0 10px -4px 5px;
    background-color: teal;
    color: #fff;
    padding: 4px 8px;
    cursor: pointer;
}

.services__button:hover {
    filter: brightness(120%);
}

.services__button:active {
    filter: brightness(90%);
}

.resetButton {
    align-self: flex-end;
    padding: 13px 20px;
    border-radius: 4px;
    border: none;
    background-color: #666;
    color: #fff;
    font-weight: 700;
    font-size: 14px;
    cursor: pointer;
}

.resetButton:hover {
    background-color: #880000;
}